@using PortfolioTracking.Data;
@model PortfolioTracking.Data.ViewModel.DataVM
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1>PORTFOLIO</h1>
</div>
<div class="mb-3">


    <table class="table table-success table-striped" name="portfolioTable" id="portfolioTable">
        <tr>
            <th>
                Ticker
            </th>
            <th>
                OperationName
            </th>
            <th>
                Qty
            </th>
            <th>
                Price
            </th>
            <th>
                Cost
            </th>

            <th>
                TradeDate
            </th>
        </tr>



        @foreach (var item in Model.PortfolioList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TradeDate)
                </td>

            </tr>
        }

    </table>
</div>

<hr />
<div class="text-center">
    <h1>P&L REPORT</h1>
    <p style="color:darkred">Please Fetch Current Market Data to See the Record.</p>
</div>

<hr />
<div class="mb-3">
    <table class="table table-primary table-striped" name="plreportTable" id="plreportTable">
        <tr>
            <th>
                Ticker
            </th>
            <th>
                TradeDate
            </th>
            <th>
                Qty
            </th>
            <th>
                Price
            </th>
            <th>
                Cost
            </th>

            <th>
                CurrentClose
            </th>
            <th>
                MarketValue
            </th>
            <th>
                PrevClose
            </th>
            <th>
                DailyPL
            </th>
            <th>
                InceptionPL
            </th>
        </tr>



        @foreach (var item in Model.PLReportList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TradeDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentClose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarketValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrevClose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DailyPL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InceptionPL)
                </td>

            </tr>
        }

    </table>
</div>








